<div class="container-fluid">
    <div class="row mx-1" *ngFor="let data of data">
        <div class="col-12">
            <div class="row ">
                <div class="col-12 pt-4 dragtarget0 px-5"
                    style="position: relative; background: #6d55cf  !important; border-radius: 23px; border: 1px solid; display: block;">
                    <div class="list-group" id="myList" role="tablist">
                        <a class="list-group-item list-group-item-action active text-white px-4" data-bs-toggle="list"
                            href="#yearlyCourses" role="tab"
                            style="font-weight: 900; font-size: 17px; white-space: nowrap;">Yearly
                            Courses</a>
                        <a class="list-group-item list-group-item-action text-white px-4" data-bs-toggle="list"
                            href="#monthlyCourses" role="tab"
                            style="font-weight: 900; font-size: 17px; white-space: nowrap;">Monthly
                            Courses</a>
                    </div>
                    <div class="tab-content ">
                        <div class="tab-pane active" id="yearlyCourses" role="tabpanel">
                            <!-- <div class="row"> -->
                            <div class="col-12 px-3">
                                <div class="row mt-4">
                                    <div class="col-auto">
                                        <div class="drop-down">
                                            <select class="form-select text-white" aria-label="Default select example"
                                                style="  all: unset; 
                                            padding-right: 84px;
                                            border-bottom: 1px solid;
                                            background-size: 16px;">
                                                <!-- background: url('https://www.charbase.com/images/glyph/9662') no-repeat right; -->
                                                <option selected>grade 9</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="list-group" id="myList" role="tablist">
                                            <a class="list-group-item list-group-item-action active list-item-padding text-white"
                                                data-bs-toggle="list" href="#cbsc" role="tab"
                                                style="font-weight: 900; font-size: 15px;">CBSC</a>
                                            <a class="list-group-item list-group-item-action list-item-padding text-white"
                                                data-bs-toggle="list" href="#icse" role="tab"
                                                style="font-weight: 900; font-size: 15px;">ICSE</a>
                                            <a class="list-group-item list-group-item-action list-item-padding text-white"
                                                data-bs-toggle="list" href="#ib" role="tab"
                                                style="font-weight: 900; font-size: 15px;">IB</a>
                                            <a class="list-group-item list-group-item-action list-item-padding text-white"
                                                data-bs-toggle="list" href="#igcse" role="tab"
                                                style="font-weight: 900; font-size: 15px;">IGCSE</a>
                                            <a class="list-group-item list-group-item-action list-item-padding text-white"
                                                data-bs-toggle="list" href="#advancelevel" role="tab"
                                                style="font-weight: 900; font-size: 15px;">ADVANCE LEVEL</a>
                                        </div>

                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="cbsc" role="tabpanel">
                                            <div class="row mt-4">
                                                <div class="col">
                                                    <h6 class="text-white wrap-nowrap-text" style="font-weight: 700;">
                                                        Total Sessions
                                                    </h6>
                                                    <h2 style="font-weight: 800; color: #f7c201;  margin-top: 24px; ">
                                                        144
                                                    </h2>
                                                </div>
                                                <div class="col">
                                                    <h6 class="text-white wrap-nowrap-text" style="font-weight: 700; ">
                                                        Online Pre
                                                        Assessments</h6>
                                                    <h2 style="font-weight: 800; color: #f7c201;  margin-top: 24px;">8
                                                    </h2>
                                                </div>
                                                <div class="col">
                                                    <h6 class="text-white wrap-nowrap-text" style="font-weight: 700;">
                                                        Online Post
                                                        Assessments</h6>
                                                    <h2 style="font-weight: 800; color: #f7c201;  margin-top: 24px;">11
                                                    </h2>
                                                </div>
                                                <div class="col">
                                                    <h6 class="text-white wrap-nowrap-text" style="font-weight: 700; ">
                                                        Online Practice
                                                    </h6>
                                                    <h2 style="font-weight: 800; color: #f7c201;  margin-top: 24px;">32
                                                    </h2>
                                                </div>
                                                <div class="col">
                                                    <h6 class="text-white wrap-nowrap-text" style="font-weight: 700; ">
                                                        Online Tests</h6>
                                                    <h2 style="font-weight: 800; color: #f7c201; margin-top: 24px;">26
                                                    </h2>
                                                </div>
                                                <div class="col">
                                                    <h6 class="text-white wrap-nowrap-text" style="font-weight: 700; ">
                                                        Career
                                                        Counselling
                                                        Sessions with Edu
                                                        Coach</h6>
                                                    <h2 style="font-weight: 800; color: #f7c201;  margin-top: 24px;">12
                                                    </h2>
                                                </div>
                                                <div class="col-12 my-4">
                                                    <h6 class="text-white " style="font-weight: 700;">Course Topics
                                                        include</h6>
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <p class="mb-0 " style="color: #f7c201;">Introduction</p>
                                                            <p class="mb-0 text-white">Irrational Numbers</p>
                                                            <p class="mb-0 text-white">Real Numbers and their Decimal
                                                                Expansions</p>
                                                            <p class="mb-0 text-white">Representing Real Numbers on the
                                                                Number Line</p>
                                                        </div>
                                                        <div class="col-4">
                                                            <p class="mb-0 " style="color: #f7c201;">Polynomials</p>
                                                            <p class="mb-0 text-white">Polynomials in One Variable</p>
                                                            <p class="mb-0 text-white">Zeroes of a Polynomial</p>
                                                            <p class="mb-0 text-white">Remainder Theorem</p>
                                                            <p class="mb-0 text-white">Factorisation of Polynomials</p>
                                                            <p class="mb-0 text-white">Algebraic identities</p>
                                                        </div>
                                                        <div class="col-4">
                                                            <p class="mb-0 " style="color: #f7c201;">Polynomials</p>
                                                            <p class="mb-0 text-white">Polynomials in One Variable</p>
                                                            <p class="mb-0 text-white">Zeroes of a Polynomial</p>
                                                            <p class="mb-0 text-white">Remainder Theorem</p>
                                                            <p class="mb-0 text-white">Factorisation of Polynomials</p>
                                                            <p class="mb-0 text-white">Algebraic identities</p>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                        <div class="tab-pane" id="icse" role="tabpanel">...</div>
                                        <div class="tab-pane " id="ib" role="tabpanel">...</div>
                                        <div class="tab-pane" id="igcse" role="tabpanel">...</div>
                                        <div class="tab-pane " id="advancelevel" role="tabpanel">...</div>

                                    </div>

                                </div>
                            </div>

                            <!-- </div> -->

                        </div>

                        <div class="tab-pane" id="monthlyCourses" role="tabpanel">
                            <div class="col-12 px-3">
                                <div class="row mt-4">
                                    <div class="col-auto">
                                        <div class="drop-down">
                                            <select class="form-select text-white" aria-label="Default select example"
                                                style="  all: unset; 
                                        padding-right: 84px;
                                        border-bottom: 1px solid;
                                        background-size: 16px;">
                                                <!-- background: url('https://www.charbase.com/images/glyph/9662') no-repeat right; -->
                                                <option selected>Grade 9</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 p-2 m-2"
                                        style="background-color: #9b8dd7; border: 1px solid #9b8dd7;">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-auto">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                                        id="exampleRadios1" value="option1" checked>
                                                </div>
                                            </div>
                                            <div class="col justify-content-center">
                                                <h5 class="mb-0 text-white" style="font-weight: 700; font-size: 15px;">1
                                                    Month</h5>
                                                <p class="text-white" style="font-size: small; font-weight: 400;">Money
                                                    Refund Same Day*</p>
                                            </div>
                                            <div class="col">
                                                <h2 class="text-white" style="font-weight: 700; font-size: 25px;">
                                                    <span style="color: #f7c201;">₹ 1620 <span
                                                            style="text-decoration: line-through white; font-weight: 800; font-size: small;">₹
                                                            1000</span></span>
                                                    <p style="font-size: small;" class="text-white">10 % Off</p>
                                                </h2>
                                            </div>
                                            <div class="col">
                                                <h5 class="mb-0 text-white" style="font-weight: 700; font-size: 15px;">₹
                                                    324 per session</h5>
                                                <p class="text-white" style="font-size: small; font-weight: 400;">5
                                                    Sessions</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-12 p-2 m-2"
                                        style="background-color: #9b8dd7; border: 1px solid #9b8dd7;">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-auto">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                                        id="exampleRadios1" value="option1" checked>
                                                </div>
                                            </div>
                                            <div class="col justify-content-center">
                                                <h5 class="mb-0 text-white" style="font-weight: 700; font-size: 15px;">1
                                                    Month</h5>
                                                <p class="text-white" style="font-size: small; font-weight: 400;">Money
                                                    Refund Same Day*</p>
                                            </div>
                                            <div class="col">
                                                <h2 class="text-white" style="font-weight: 700; font-size: 25px;">
                                                    <span style="color: #f7c201;">₹ 1620 <span
                                                            style="text-decoration: line-through white; font-weight: 800; font-size: small;">₹
                                                            1000</span></span>
                                                    <p style="font-size: small;" class="text-white">10 % Off</p>
                                                </h2>
                                            </div>
                                            <div class="col">
                                                <h5 class="mb-0 text-white" style="font-weight: 700; font-size: 15px;">₹
                                                    324 per session</h5>
                                                <p class="text-white" style="font-size: small; font-weight: 400;">5
                                                    Sessions</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-12 p-2 m-2"
                                        style="background-color: #9b8dd7; border: 1px solid #9b8dd7;">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-auto">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                                        id="exampleRadios1" value="option1" checked>
                                                </div>
                                            </div>
                                            <div class="col justify-content-center">
                                                <h5 class="mb-0 text-white" style="font-weight: 700; font-size: 15px;">1
                                                    Month</h5>
                                                <p class="text-white" style="font-size: small; font-weight: 400;">Money
                                                    Refund Same Day*</p>
                                            </div>
                                            <div class="col">
                                                <h2 class="text-white" style="font-weight: 700; font-size: 25px;">
                                                    <span style="color: #f7c201;">₹ 1620 <span
                                                            style="text-decoration: line-through white; font-weight: 800; font-size: small;">₹
                                                            1000</span></span>
                                                    <p style="font-size: small;" class="text-white">10 % Off</p>
                                                </h2>
                                            </div>
                                            <div class="col">
                                                <h5 class="mb-0 text-white" style="font-weight: 700; font-size: 15px;">₹
                                                    324 per session</h5>
                                                <p class="text-white" style="font-size: small; font-weight: 400;">5
                                                    Sessions</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-12 p-2 m-2"
                                        style="background-color: #9b8dd7; border: 1px solid #9b8dd7;">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-auto">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                                        id="exampleRadios1" value="option1" checked>
                                                </div>
                                            </div>
                                            <div class="col justify-content-center">
                                                <h5 class="mb-0 text-white" style="font-weight: 700; font-size: 15px;">1
                                                    Month</h5>
                                                <p class="text-white" style="font-size: small; font-weight: 400;">Money
                                                    Refund Same Day*</p>
                                            </div>
                                            <div class="col">
                                                <h2 class="text-white" style="font-weight: 700; font-size: 25px;">
                                                    <span style="color: #f7c201;">₹ 1620 <span
                                                            style="text-decoration: line-through white; font-weight: 800; font-size: small;">₹
                                                            1000</span></span>
                                                    <p style="font-size: small;" class="text-white">10 % Off</p>
                                                </h2>
                                            </div>
                                            <div class="col">
                                                <h5 class="mb-0 text-white" style="font-weight: 700; font-size: 15px;">₹
                                                    324 per session</h5>
                                                <p class="text-white" style="font-size: small; font-weight: 400;">5
                                                    Sessions</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 dragtarget1 px-5"
                    style="position: relative; background: #1e1099  !important; border-radius: 23px; border: 1px solid; display: block;">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-6">
                            <div class="div">

                                <h2 class="text-white" style="font-weight: 600; font-size: 20px;">Monthly classes let
                                    you choose your own course topics
                                </h2>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="div mt-4">

                                <h2 class="text-white" style="font-weight: 600; font-size: 20px;">Each session lasts for
                                    45 minutes
                                </h2>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn px-5 btn-lg"
                                style="float: right; font-size: small; background-color: #f7c201; border-radius: 30px; color: black;">Book
                                Now</button>
                        </div>
                        <div class="col-8 mt-4">

                        </div>
                        <div class="col-4 mt-4">
                            <p class="text-white" style="font-size: smaller; float: right;">Refund same day <span
                                    style="text-decoration: underline; cursor: pointer;">terms & conditions</span>
                                apply*</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container-fluid">
    <div class="row mx-3">
        <div class="col-2">
            <div class="row text-center " style="background-color: #1e1099;">
                <div class="col-12 py-3">
                    Dashboard
                </div>
                <div class="col-12 py-3">
                    Vacancies
                </div>
                <div class="col-12 py-3">
                    Configuration
                </div>
                <div class="col-12 py-3">
                    Activities
                </div>
                <div class="col-12 py-3">
                    Calender
                </div>
                <div class="col-12 py-3">
                    Reports & Analytical
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="row  d-flex align-items-center mt-2">
                <div class="col-10">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-2 text-center">
                    Filter
                </div>
                <div class="col-12 p-0">
                    <div class="row mt-3">
                        <div class="col">
                            <a class="nav-link active" aria-current="page"
                                style="background-color: #6d55cf;">Screening</a>
                        </div>
                        <div class="col">
                            <a class="nav-link active" aria-current="page"
                                style="background-color: #6d55cf;">Evaluation</a>
                        </div>
                        <div class="col">
                            <a class="nav-link active" aria-current="page"
                                style="background-color: #6d55cf;">Verification</a>
                        </div>
                        <div class="col">
                            <a class="nav-link active" aria-current="page"
                                style="background-color: #6d55cf;">Selection</a>
                        </div>
                        <div class="col">
                            <a class="nav-link active" aria-current="page"
                                style="background-color: #6d55cf;">Stabalization</a>
                        </div>
                        <div class="col">
                            <a class="nav-link active" aria-current="page"
                                style="background-color: #6d55cf;">Immigration</a>
                        </div>
                        <div class="col">
                            <a class="nav-link active" aria-current="page"
                                style="background-color: #6d55cf;">Onboarding</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->